# 禁止向上级目录查找配置（避免冲突，必开）
config.stopBubbling = true
# 给生成的代码添加 @Generated 注解（代码覆盖率工具忽略生成代码）
lombok.addLombokGeneratedAnnotation = true

# 不调用父类的 equals/hashCode
lombok.equalsAndHashCode.callSuper = skip

# lombok.config
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
